{% extends "bootstrap/base.html" %}
{% block title %}Sistema Arbitragem{% endblock %}

{% block head %}
{{ super() }}
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}

<div class="navbar navbar-inverse" role="navigation">
    <div class="Container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{url_for('operation') }}">Operação</a>
            <a class="navbar-brand" href="{{url_for('strategy') }}">Estratégias</a>
            <a class="navbar-brand" href="{{url_for('wallets') }}">Carteiras</a>
            <a class="navbar-brand" href="{{url_for('signals') }}">Sinais</a>
            <a class="navbar-brand" href="{{url_for('exchanges') }}">Exchanges</a>
            <a class="navbar-brand dropdown" data-toggle="dropdown" href="#">Usuário<span class="caret"></span></a>
        </div>
    </div>
</div>

{% endblock %}