{% extends "bootstrap/base.html" %}
{% block title %}Clothes Shop{% endblock %}
{% block navbar %}

<div class="navbar navbar-inverse" role="navigation">
    <div class="Container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{url_for('contact') }}">Contact</a>
            <a class="navbar-brand" href="{{url_for('AboutUs') }}">About Us</a>
            <a class="navbar-brand" href="{{url_for('OurValues') }}">Our Values</a>
            <a class="navbar-brand" href="{{url_for('Login') }}">Login</a>
            <a class="navbar-brand" href="{{url_for('Client') }}">Client</a>
            <a class="navbar-brand" href="{{url_for('Payment') }}">Payment</a>
            <a class="navbar-brand" href="{{url_for('ExcludeAccount') }}">Exclude Account</a>
            <a class="navbar-brand" href="{{url_for('ChangePrice') }}">Change Price</a>
            <a class="navbar-brand" href="{{url_for('ChangeAddress') }}">Change Address</a>
            <a class="navbar-brand" href="{{url_for('ChangePassword') }}">Change Password</a>
            <a class="navbar-brand" href="{{url_for('CreateProduct') }}">Create Product</a>
            <a class="navbar-brand" href="{{url_for('CreateEmployee') }}">Create Employee</a>       
            <a class="navbar-brand" href="{{url_for('CreateUser') }}">Create User</a>
        </div>
    </div>
</div>

{% endblock %}