{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="cssProgram.css">
</head>
<body>

<h1>Smart Clothes</h1>



<ul>
  <li><a href="new 6.html">Home</a></li>
  <li><a href="AboutUs.html">About our Business</a></li>
  <li><a href="OurValues.html">Our Values</a></li>
  <li><a href="contact.html">Contacts</a></li>
  <li><a href="Client.html">Client</a></li>
  <li><a href="Login.html">Login</a></li>
</ul>
<button>change personal information</button>
<button>purchases historic</button>
</body>
</html>