<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="cssProgram.css">
</head>
<body>

<h1>Smart Clothes</h1>



<ul>
  <li><a href="new 6.html">Home</a></li>
  <li><a href="AboutUs.html">About our Business</a></li>
  <li><a href="OurValues.html">Our Values</a></li>
  <li><a href="contact.html">Contacts</a></li>
  <li><a href="Client.html">Client</a></li>
  <li><a href="Login.html">Login</a></li>
</ul>
<address>
Mail:<a href="SmartClothes@gmail.com">SmartClothes@gmail.com</a><br>
Phone Number:<a href="+55 41 991744965">+55 41 991744965</a><br>
Address:<br>
Wayne Industries Street,2322<br>
CEP:88500-435<br>
District:Upper East Side<br>
Municipality:Gotham City<br>
State:DC universe<br>
Country:DC universe<br>
</address>
</body>
</html>