{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="cssProgram.css">
</head>
<body>

<h1>Smart Clothes</h1>



<ul>
  <li><a href="new 6.html">Home</a></li>
  <li><a href="AboutUs.html">About our Business</a></li>
  <li><a href="OurValues.html">Our Values</a></li>
  <li><a href="contact.html">Contacts</a></li>
  <li><a href="Client.html">Client</a></li>
  <li><a href="Login.html">Login</a></li>
</ul>

<h1>Misssion:We want to satisfy our clients with quick and safe deliveries and quality clothes.</h1>
<h1>Vision:I want to make the clothes market safer, practical, acessible and efficient.</h1>
<h1>Values:We make sure that all our employes are respected and well treated and that all the feedstock have a nice quality and is 100% vegan.</h1>

</body>
</html>